@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: Poppins, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-animasi{
    box-shadow: inset 0 0 0 rgb(0, 0, 0);
    transition: all ease-out 0.2s;
    color: white;
}

.button-animasi:hover{
    box-shadow: inset 20vw 0 0 rgb(0, 0, 0);
    color: black;
}